/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#light {
  background: 
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
    url("./assets/Images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #000;
}

/* DARK MODE  */

#dark {
    background-color:#340413;
    color: aliceblue;
}

/* Footer Media Query */
/* -------------------- */

@media(max-width: 500px) {
    .footer {
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}